<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--导入属性配置-->
    <properties resource="datasource.properties"></properties>
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!--        jdbc的数据库连接-->
        <jdbcConnection driverClass="${db.driverClassName}"
                        connectionURL="${db.url}"
                        userId="${db.username}"
                        password="${db.password}">
        </jdbcConnection>


        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.example.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="SYS_USER" domainObjectName="User"
               enableSelectByExample="false"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false">
            <!-- 如果设置为true,那么MBG会使用从数据库元数据获取的列名
                   作为生成的实体对象的属性。
               如果为false(默认值)，MGB将会尝试将返回的名称转换为驼峰形式 -->
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="DB2" identity="true"/>
        </table>
        <table tableName="USER_PASSWORD" domainObjectName="UserPassword"
               enableSelectByExample="false"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="DB2" identity="true"/>
            <!--            <columnOverride column="DATE_FIELD" property="startDate"/>-->
            <!--            <ignoreColumn column="FRED"/>-->
            <!--            <columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR"/>-->
        </table>

    </context>
</generatorConfiguration>